<header class="site-header">
  <div class="container header-inner">
    <a href="index.html" class="brand">
      <img src="assets/img/logo.png" alt="Fix it Now Logo" style="height:80px; vertical-align:middle; margin-right:8px;"><img src="assets/icons/icono2.svg" alt="Fix it Now Logo2" style="height:100px; vertical-align:middle; margin-right:8px;">

    </a>
    <nav class="main-nav">
      <a href="index.html">Inicio</a>
      <a href="oficios.html">Oficios</a>
      <a href="calculadora.html">Calculadora</a>
      <a href="formulario.html">Contacto</a>
      <a href="perfil.html">Perfil</a>
    </nav>
  </div>
</header>